/*css form neurolinks*/

/*whole document*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}




/*document body contains 3 sections: header, content and footer*/

body {
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}




/*content is the main section*/



#icon {

    width: 20%;
}

#singer {
   
    width: 70%;
}

p {
    position: relative;
    top: 40px;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 1.5em;
}






/*footer holds the site navigation buttons*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: dimgrey;
    text-align: center;
    height: 6%;
    width: 100%;
    font-size: 1.5em;
}
