/*css form neurolinks*/

/*whole document*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}


/*splashscreen intro on index page*/

.splashscreen {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}

.splashscreenheader {
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.logo {
    position: relative;
    display: inline-block;
    opacity: 0.2;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    font-size: larger;
    transition: ease-in-out 0.5s;
    }

/*document body contains 3 sections: header, content and footer*/

body {
    width: 100%;
    height: 100vh;
}

/*header holds the banner*/

header {
    width: 100%;
    height: 10%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    
}


#surgical-training-banner {
    position: absolute;
    top:50%;
    left:50%; 
    transform: translate(-50%,-50%);
    color: white;
    background-color: black;
    text-align: left;
    font-size:xx-large;
    text-transform:uppercase; 
}

#help-button {
    position: absolute;
    right: 5%;
    top: 55%;
    transform: translate(-50%,-50%);
    color: white;
    width: 70px;
    height: 70px;
}


/*content is the main section*/

#content {
    background-color: cadetblue;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    height: 93%;
    font-size: smaller
}

h1 {
    position: absolute;
    top: 4%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: black;
    font-size: x-large;
    text-transform: uppercase;
}

#enter-role {
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: center;
    font-size: large;
    transform: translate(-50%,-50%);
}

#linklist {
    position: absolute;
    top: 20%;
    left: 5%;
    list-style-type: none;
    width:90%;
}

li {
    padding:5px;
}

.hidden {
    display: none;
}

/*footer holds the site navigation buttons*/

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: dimgrey;
    text-align: center;
    height: 7%;
    width: 100%;
}

footer a {
    position: absolute;
    top: 10%;
    text-decoration-line: none;
    color: black;
    font-size: small;
}

footer img {
    height: 30px;
    width: 30px;
}