/*css form surgical training*/

/*whole document*/

body{
    width:100%;
    background-color:cadetblue;
}


/*header*/
header {
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    padding-top:10px;
}


#surgical-training-banner {
    color: white;
    background-color: black;
    align-content: center;
    font-size:xx-large;
    text-transform:uppercase;

  
}


/*content*/
#content {
    width: 100%;
    height: 1000px;
    background-color: cadetblue;
  
}

#first-box {
    width: 90%;
    border: 1px solid black;
    padding 5px;
    margin: auto;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 20%;
    left:5%;

   
}

#enter-role {
    text-align:center;
    font-size: x-large;
}


/*footer*/

footer {
    position: fixed;
    left:0;
    bottom: 0;
    color: white;
    background-color: grey;
    text-align: center;
    height:140px;
    width:100%;
    padding-top:10px;
}
footer a {
    color: black;
    text-decoration-line:none;
}