/* Buttons */
.primaryBtn,
.secondaryBtn {
    margin-top: 6px;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 120px;
}

#emailInput {
    width: 200px !important;
}

/* Responsive */
@media (max-width: 600px) {

    #profileContainer {
        width: 90%;
        padding: 16px;
        border-radius: 12px;
        margin: 50px auto 20px auto;
    }

    /* Button sizing */
    .subscribeBtn,
    .unsubscribeBtn {
        font-size: 18px;
        padding: 10px 16px;
        border-radius: 8px;
    }

}